*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #000;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
}
.container .wrap{
    width: 80rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4rem;
}
header .logo img{
    width: 8rem;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    margin: 10px 30px 10px 30px;
    list-style: none; 
}
header .menu ul li a, .login a,
section .line05 .row .col a{
    text-decoration: none;
    color: #fff;
}
section .line01,
section .line02,
section .line03,
section .line04{
    display: flex;
}
section .line01 .box-left, .line01 .box-right{
    width: 40rem;
    margin-top: 4rem;
}
section .line01 .box-left h5{
    font-size: calc(1rem + .3vw);
    background: -webkit-linear-gradient(90deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .line01 .box-left h1{
    font-size: calc(1.625rem + 3.5vw);
    margin-top: 1rem;
    margin-bottom: 3rem;
}
section .line01 .box-left h1 span,
section .line01 .box-left h2 span{
    background: -webkit-linear-gradient(90deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .line01 .box-left p,
section .line03 .box-left p,
section .line04 .box-left p,
footer .row .col p{
    color: rgb(108, 117, 125);
}
section .line01 .box-left button,
section .row .col-left button,
section .line04 .box-left button{
    width: 15rem;
    height: 4rem;
    background: -webkit-linear-gradient(90deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    color: #fff;
}
section .line01 .box-right{
    display: flex;
    justify-content: end;
    align-items: center;
}
section .line02{
    justify-content: space-between;
    margin-top: 7rem;
    margin-bottom: 7rem;
    height: 10rem;
    background: -webkit-linear-gradient(45deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
}
section .line02 .col,
section .line02 .col-m{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;    
}
section .line02 img{
    width: 3rem;
}
section .line02 .col-m img{
    width: 8rem;
}
section .row,
footer .row{
    display: flex;
    width: 80rem;
    justify-content: end;
}
section .row .col-left{
    width: 40%;
    height: 30rem;
}
section .row .col-left h5,
section .line03 .box-left h5,
section .line04 .box-left h5{
    font-size: calc(1.275rem + .3vw);
    background: -webkit-linear-gradient(45deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .row .col-left h2,
section .line03 .box-left h2,
section .line04 .box-left h2{
    margin-top: 1rem;
    font-size: calc(1.625rem + .8vw);
}
section .row .col-left h2 span, 
section .line03 .box-left h2 span,
section .line03 .benefit h3 span,
section .line03 .benefit p span,
section .line04 .box-left h2 span{
    background: -webkit-linear-gradient(45deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
section .row .col,
footer .row .col{
    width: 30%;
    height: 30rem;
    background-color: #151515;
    border: 1px solid #2e2e2e;
    padding: 4rem 3rem;
}
section .row .col:hover{
    background-color: #2e2e2e;
}
section .row .col p,
section .row .col h2{
    margin-bottom: 2rem;
}
section .row .col .button{
    display: flex;
    justify-content: end; 
}
section .row .col .button button{
    width: 4rem;
    height: 4rem;
    border: none;
    font-size: 3rem;    
}
section .row .col:hover .button button,
section .row .col:hover .button button p{
    background: -webkit-linear-gradient(90deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    color: #fff;
}
section .line03{
    margin-top: 7rem;
}
section .line03 .box-left{
    padding-right: 3rem;
}
section .line03 .box-left p,
section .line04 .box-left p{
    margin-top: 1rem;
    margin-bottom: 2rem;
} 
section .line03 .benefit{
    display: flex;
    justify-content: space-between;
}
section .line03 .benefit h3{
    font-size: calc(1.625rem + .2vw)
}
section .line04,
section .line05{
    margin-top: 6rem;
}
section .line05 .row{
    width: 80rem;
    justify-content: center;
}
section .line05 .row .col{
    width: 33.3%;
    height: auto;
    background-color: #000;
}
section .line05 .row .col:hover{
    background-color: #2e2e2e;
}
section .line05 .row .col button{
    display: block;
    width: 4rem;
    height: 4rem;
    border: none;
}
section .line05 .row .col button span{
    font-size: 2rem;
}
section .line05 .row .col h2{
    margin-top: 2rem;
}
section .line05 .row .col p{
    color: rgb(108, 117, 125);
}
section .line06{
    margin-top: 7rem;
    background: rgba(5,137,220,1);
    background: linear-gradient(45deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
}
section .line06 .row{
    display: block;
    padding: 4rem;
}
section .line06 .row h2{
    margin-top: 1.5rem;
    font-size: calc(1.625rem + 2.5vw);
}
section .line06 .slide{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 4rem;
}
section .line06 .swiper-slide{
    width: 350px !important;
    margin: 0 !important;
}
section .line06 .slide .card{
    width: 20rem;
    height: 20rem;
    background-color: #151515;
    padding: 3rem 2rem;
}
section .line06 .slide .card img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}
section .line06 .slide .card p{
    color: rgb(108, 117, 125);
    font-size: 1rem;
}
section .line06 .slide .card .text{
    width: auto;
    height: 70%;
}
section .line06 .slide .card .footer{
    display: flex;
    width: auto;
    height: 30%;
    margin-top: 1rem;
}
section .line06 .slide .card .footer p{
    color: #fff;
    font-size: 1rem;
}
section .line06 .slide .card .footer p span{
    font-size: .8rem;
    color: rgb(108, 117, 125);
}
section .line07 .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 7rem;
    background: rgba(5, 137, 220, 1);
    background: linear-gradient(45deg, rgba(5, 137, 220, 1) 0%, rgba(2, 198, 210, 1) 100%);
    width: 80rem;
    height: 22rem;
}
section .line07 .row h2{
    margin-top: 2rem;
    text-align: center;
    font-size: calc(1.625rem + 2.5vw);
}
section .line07 .row button{
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
section .line07 .row button p{
    background: -webkit-linear-gradient(90deg, rgba(5,137,220,1)0%, rgba(2,198,210,1)100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .row .col{
    height: auto;
    background-color: #000;
    border: none;
}
footer .row .col:hover{
    background-color: #000;
}
footer .row .col span{
    font-size: 2rem;
    margin-left: .8rem;
}
footer .row .col p{
    margin-top: .5rem;
    margin-left: .8rem;
    margin-bottom: 2rem;
}
footer .row .col li{
    list-style: none;
    margin-top: 1rem;
}
footer .row .col h3{
    color: rgb(108, 117, 125);
    font-size: 2rem;
}
footer .row .col h2{
    color: rgb(108, 117, 125);
    margin-top: 1.6rem;
}
footer .row .col a{
    text-decoration: none;
    color: rgb(108, 117, 125);
}
footer .row .col label{
    display: flex;
    margin: 1rem 0;
}
footer .row .col input{
    height: 2rem;
    padding-left: 1rem;
    border: none;
}
footer .row .col button{
    width: 6rem;
    border: none;
    background: rgba(5, 137, 220, 1);
    background: linear-gradient(45deg, rgba(5, 137, 220, 1) 0%, rgba(2, 198, 210, 1) 100%);
}
footer .row .col .end{
    margin-left: 0;
}
footer .copyright{
    width: 80rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright p{
    color: rgb(108, 117, 125);
}